@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

span,
h1,
h2,
button,
input {
  font-family: "Space Mono", monospace;
  color: #00ff00;
}

html {
  background: black;
}
.outlined-text {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* .white-out-filter {
  filter: brightness(0) invert(1) contrast(100%);
} */

.image-main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 3;
  animation: slideCover 1s ease-in forwards;
}
@keyframes slideCover {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.tv-effect-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 52rem;
  height: 52rem;
}
@keyframes fadeFromWhite {
  from {
    background: white;
    opacity: 1;
  }
  to {
    background: transparent;
    opacity: 0;
  }
}

.tv-effect-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.tv-effect-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  animation: slightWoble 3s ease-in-out infinite;
}

@keyframes slightWoble {
  0% {
    transform: scale(1) skewX(0deg);
  }
  50% {
    transform: scale(1.01) skewX(0deg);
  }
  100% {
    transition: scale(1) skewX(0deg);
  }
}
.tv-effect-container::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 2;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02) 4px,
    transparent 4px,
    transparent 10px
  );
  animation: scrollLines 5s linear infinite;
}

@keyframes scrollLines {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(25%);
  }
}

.image-main-container {
  position: relative;
}

.spotlight {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 20px 50px rgba(0, 0, 0, 0.75);
  pointer-events: none;
}
